<html>
  <head>
    <title>Edit gossip</title>
  </head>
  <body>
    <h1>Modify this gossip !</h1>
    <p>Fill the form below:</p>
    <form action='/gossips/new/' method='POST'>
      Enter your name :  <input type='text' name='author'/><br/>
      Enter your gossip : <input type='text' name='content'/><br/>
      <input type='submit'/>
    </form>
  </body>
</html>